.container {
    margin-left: 170px;
    margin-top: 7px;
    position: relative;
    min-height: 83%;
}

.home {
    margin-top: 9px;
    color: lightgrey;
    font-size: 15px;
    cursor: pointer;
}

.title {
    display: flex;
    gap: 5px;
    width: 200px;
    align-items: center;
    justify-content: flex-start;
}

.card {
    width: 774px;
    height: auto;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
    align-items: center;
}

.first {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.locBox {
    display: flex;
    border: 1px solid lightgray;
    align-items: center;
    padding-left: 10px;
    font-size: 15px;
    width: 275px;
    height: 40px;
    gap: 7px;
}

.cart {
    display: flex;
    margin-left: 40px;
    margin-bottom: 30px;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: 1px solid lightgrey;
}

.box {
    width: 50px;
    height: 30px;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderbtn {
    direction: rtl;
    margin-right: 25px;
    background-color: #3371B5;
    color: white;
}

.img {
    padding-right: 33px;
    width: 65%;
    height: 60%;
}

.text {
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}

.hint {
    margin-top: -13px;
    padding-left: 10px;
    font-size: 14px;
}

.main {
    display: flex;
    flex-direction: row;
}

.formItem, .form-item, .address-field {
    display: flex;
    flex-direction: column;
}

.radio, .radio-group {
    display: flex;
    gap: 50px;
    margin-top: 7px;
}

.radio input {
    width: 15px;
    height: 15px;
    accent-color: brown;
    margin-right: 5px;
}

.form {
    width: 512px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 30px;
}

.formItem1 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.continue, .continue-btn, .place-order-btn {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 100%;
    margin-bottom: 10px;
}

.continue button {
    margin-right: 30px;
    width: 172px;
    background-color: #3371B5;
    color: white;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
}
