<div class="cotainer">
    <img src="../../../assets/sparkles1.png">
    <h1 class="order-success">Order Placed Successfully</h1> 
    <img src="../../../assets/sparkles2.png">

<p>hurray!!! yout order is confirmed</p>
<p>the order id is #order.id save the order if for</p>
<p>further communication</p>
<div>

</div>
<table>
    <tr>
        <th>Email us</th>
        <th>Contact us</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>{{email}}</td>
        <td>+91 8163475881</td>
        <td><p>42, 14th Main, 15th Cross, Sector 4, opp to BDA</p>
            <p>complex, near Kumarakom restaurant, HSR Layout,</p>
            <p>Bangalore 560034</p>
        </td>
    </tr>
</table>
<button class="continue-shopping-button" mat-button routerLink="/home">
    CONTINUE SHOPPING
</button>
</div>