.cotainer{
    display:flex;
    height:fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.order-success{
    width: 286px;
    height: 30px;
    
    text-align: left;
    font: normal normal bold 25px/30px Lato;
    letter-spacing: 0px;
    color: #333232;
    text-transform: capitalize;
    opacity: 1;
}
table {
    width: 751px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    align-items: center;
    justify-content: center;
}
th{
    background: #FAFAFA 0% 0% no-repeat padding-box;
}
th:first-child {
    border-right: none;
}
th:nth-child(2){
    border-left:none;
    border-right:none;
}
th:last-child {
    border-left: none;
}
.continue-shopping-button{
    margin-top:30px;
    margin-bottom: -150px;
    width: 200px;
    height: 35px;
    /* UI Properties */
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
}