.container {
    margin-left: 170px;
    margin-top: 7px;
    position: relative;
    min-height: 83%;
  }
  
  .WithoutLogin {
    width: 100%;
    min-height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .home {
    margin-top: 9px;
    color: lightgrey;
    font-size: 15px;
    cursor: pointer;
  }
  
  .title {
    display: flex;
    gap: 5px;
    width: 200px;
    align-items: center;
    justify-content: flex-start;
  }
  
  .head {
    display: flex;
    align-items: center;
    width: 48%;
    justify-content: space-between;
  }
  
  .head p {
    cursor: pointer;
    color: brown;
  }
  
  .label {
    font-family: Roboto;
    font-size: 13px;
  }
  
  .formItem {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
  }
  
  mat-form-field.input {
    --mat-form-field-container-height: 40px;
    --mat-form-field-container-vertical-padding: 8px;
  }
  
  .input {
    width: 48%;
  }
  
  .first {
    display: flex;
    margin-top: 10px;
    width: 48%;
  }
  
  .formItem1 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -15px;
    width: 50%;
  }
  
  .footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 50px; /* Height of the footer */
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 30px;
  }
  